Repository grayzu/TF_demos: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-demo1.yml, azure-pipelines-demo2.yml, azure-pipelines-demo3.yml

Path conditions:
  azure-pipelines-demo1.yml: any of: Demo1, azure-pipelines-demo1.yml, azure-pipelines-terraform-release.yml
  azure-pipelines-demo2.yml: any of: Demo2, azure-pipelines-demo2.yml, azure-pipelines-terraform-release.yml
  azure-pipelines-demo3.yml: any of: Demo3, azure-pipelines-demo3.yml, azure-pipelines-terraform-release.yml

Update demo naming
  azure-pipelines-demo1.yml
  azure-pipelines-demo3.yml
  azure-pipelines-demo4.yml
Due: azure-pipelines-demo1.yml, azure-pipelines-demo3.yml

update bad path in demo4
  Demo4/main.tf
Due: none

add env names
  azure-pipelines-demo2.yml
  azure-pipelines-demo3.yml
  azure-pipelines-demo4.yml
Due: azure-pipelines-demo2.yml, azure-pipelines-demo3.yml

add vars to demo3
  Demo3/variables.tf
  azure-pipelines-terraform-release.yml
Due: azure-pipelines-demo1.yml, azure-pipelines-demo2.yml, azure-pipelines-demo3.yml

format tf
  Demo4/main.tf
  Demo4/variables.tf
Due: none

update format, fix typos
  Demo1/main.tf
  Demo1/providers.tf
  Demo1/terraform.tfvars
  Demo1/variables.tf
  Demo2/frontend.tf
  Demo2/main.tf
  Demo2/providers.tf
  Demo2/terraform.tfvars
  Demo2/variables.tf
  Demo3/backend.tf
  Demo3/frontend.tf
  Demo3/main.tf
  Demo3/providers.tf
  Demo3/terraform.tfvars
  Demo3/variables.tf
Due: azure-pipelines-demo1.yml, azure-pipelines-demo2.yml, azure-pipelines-demo3.yml

namespace sql server
  Demo3/backend.tf
Due: azure-pipelines-demo3.yml

remove default variables that should be specified in the pipeline
  azure-pipelines-demo1.yml
  azure-pipelines-demo2.yml
  azure-pipelines-demo3.yml
  azure-pipelines-demo4.yml
Due: azure-pipelines-demo1.yml, azure-pipelines-demo2.yml, azure-pipelines-demo3.yml

Create base state to shortcut permissions
  state/azure-pipelines.yml
  state/state.tf
Due: none

update pipeline';
  state/azure-pipelines.yml
Due: none

remove state shortcut
  state/azure-pipelines.yml
  state/state.tf
Due: none
